{% extends 'layouts/layout.html' %}
{% block content %}
<div class="row">

<div class='col-sm-8 col-sm-offset-2'>
<div class='text-center'>
<img src='/img/logo-icon.png'>
<div class='logo-font'><span class='primary-color'>Lexica</span> Reader</div>
<p class="lead">A personalized English writing analyzer.</p>
</div>
<hr/>

<div class='essay-container'>
<textarea id='title' type='text' class='essay-title form-control expanding' placeholder='Title'></textarea>
<textarea id='content' autofocus class='essay-content essay-content-truncated form-control expanding' placeholder='Paste your essay here.'></textarea>

</div>
<div class='pull-right'>
  <p>~<span id='word-count'>0</span> Words | <span id='char-count'>0</span> Characters</p>
  </div>
<a id="create-essay-button" data-csrf="{{_csrf}}" role="button" class="btn btn-lg btn-default">Analyze</a>
</div>
</div>
{% endblock %}