{% extends 'layouts/layout.html' %}
{% block content %}
<div class="row">

<div class='col-sm-8 col-sm-offset-2'>
<h1>Lexica Reader</h1>
<p class="lead">A personalized English writing analyzer.</p>
<hr/>

<div class='essay-container'>
<textarea id='title' type='text' class='essay-title form-control expanding' placeholder='Title'></textarea>
<textarea id='content' autofocus class='essay-content essay-content-truncated form-control expanding' placeholder='Paste your essay here.'></textarea>
  
</div>
<a id="create-essay-button" data-csrf="{{_csrf}}" role="button" class="btn btn-lg btn-default">Analyze</a>
</div>
</div>
{% endblock %}