
.h-passive {
    background-color: @pastel-yellow;
    border-color: darken(@pastel-yellow, 3%);
}

.h-weasel {
    background-color: @pastel-green;
    border-color: darken(@pastel-green, 3%);
}

.h-illusion {
    background-color: @pastel-red;
    border-color: darken(@pastel-red, 3%);
}

.h-so {
    background-color: @pastel-purple;
    border-color: darken(@pastel-purple, 3%);
}

.h-cliches {
    background-color: @pastel-cyan;
    border-color: darken(@pastel-cyan, 3%);
}

.h-adverb {
    background-color: @pastel-orange;
    border-color: darken(@pastel-orange, 3%);
}

.h-thereIs {
    background-color: @pastel-blue;
    border-color: darken(@pastel-blue, 3%);
}

.h-wordy {
    background-color: @pastel-teal;
    border-color: darken(@pastel-teal, 3%);
}