{% extends '../layouts/layout.html' %}
{% block content %}

<div class='row'>
  <div class='col-sm-8'>
  <div class='essay-container'>
    <textarea id='title' type='text' class='essay-title form-control expanding' placeholder='Title of Essay'>{{essay.title}}</textarea>
    <textarea id='content' autofocus class='essay-content expanding form-control' placeholder='Type the content of your essay here'>{{essay.content}}</textarea>
    </div>
  </div>
  <div class='col-sm-4'>
  <h1>Editor</h1>
  <hr>
  <div class='text-center'>
  <a id='update-essay-button' data-csrf="{{_csrf}}" class='btn btn-lg btn-default'>Update Essay</a>
  </div>
  <hr>
  <div>
  <p>~<span id='word-count'>0</span> Words | <span id='char-count'>0</span> Characters</p>
  </div>
  </div>
  
</div>
{% endblock %}

{% block pageScripts %}
<script>
window.essay = {{essay|json|safe}};
window.updateCounter();

// $('#content').css('font-size', x);

</script>
{% endblock %}