{% extends '../layouts/layout.html' %}
{% block content %}
<div class='row'>
  <div class='col-sm-8'>
  <div class='essay-container'>
    <h1 class='essay-title'>{{essay.title}}</h1>
    <p class='essay-content'>{{essay.content|striptags|replace('\n', '<br>', 'g')|safe}}</p>
    </div>
  </div>
  <div class='col-sm-4 essay-stats'>
  <hr>
    <div class='text-center'>
    <a href='/essays/{{essay.id}}/edit' class='btn btn-default btn-lg'>Edit Essay</a>
    </div>
  <hr>
  {% if essay.objectives.length > 0 && masterObjective != null %}
    
  
  <div>
    <p>Number of Words: <strong>{{ essay.objectives[0].num_words }}</strong></p>
    <p>Number of Sentences: <strong>{{ truncateNumber(essay.objectives[0].sentence_num, 3) }}</strong></p>
    <p>Reading Time: <strong>{{ essay.objectives[0].reading_time }}</strong></p>
    <hr>
    <div class='inverse text-center'>
    <p>Overall Score:</p>
    <h1>{{ percentage(finalScore,3) }} </h1>
    </div>
    <hr>
    
    <h3>Stats<div class='pull-right' data-toggle="tooltip" title="Percentage values compare your essay’s attributes to those of an 'ideal' essay. The higher the percentage, the more similar your essay is to the ideal." ><span class='fa fa-question-circle'></span></div></h3>
    <hr>
    <h4>Aural Cadence</h4>

    <div class="panel panel-default">
      <div class='panel-heading'>Sentence Length: <strong>{{ truncateNumber(essay.objectives[0].sentence_mean, 3) }} </strong> <span class='pull-right'><span data-toggle="tooltip" title="The average number of words in a sentence." class='fa fa-question-circle'></span></span></div>
      <div class="panel-body">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{ percentage(normals['sentence_mean'], 3) }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentage(normals['sentence_mean'], 2) }};">
            <span class="sr-only">{{ percentage(normals["sentence_mean"], 3) }}</span>
          </div>
        </div>
        <div class='text-center'><span class='primary-color'><strong>{{ percentage(normals["sentence_mean"], 3) }}</strong></span> similarity</div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class='panel-heading'>Sentence Length Variation: <strong>{{ truncateNumber(essay.objectives[0].sentence_var, 3) }} </strong> <span class='pull-right'><span data-toggle="tooltip" title="The variation in sentence length throughout this essay." class='fa fa-question-circle'></span></span></div>
      <div class="panel-body">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{ percentage(normals['sentence_var'], 3) }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentage(normals['sentence_var'], 2) }};">
            <span class="sr-only">{{ percentage(normals["sentence_var"], 3) }}</span>
          </div>
        </div>
        <div class='text-center'><span class='primary-color'><strong>{{ percentage(normals["sentence_var"], 3) }}</strong></span> similarity</div>
      </div>
    </div>

    <p>Sentence Var: {{ truncateNumber(essay.objectives[0].sentence_var, 3) }} |  <b>{{ percentage(normals["sentence_var"], 3) }}</b> </p>

    <p>Cadence Gap: {{ essay.objectives[0].cadence_gap}} | <b>{{ percentage(normals["cadence_gap"], 3)}}</b></p>
    
    <h4>Contextual Harmony</h4>

    <p>Etymology Score: {{ percentage(essay.objectives[0].etymology_score, 3)}} |  <b>{{ percentage(normals["etymology_score"], 3) }}</b> </p>
    <p>Sentiment: {{ percentage(essay.objectives[0].sentiment, 3) }} |  <b>{{ percentage(normals["sentiment"], 3) }}</b> </p>
    <p>Part of Speech Matching: <b>{{percentage(posProb, 3)}}</b></p>

    <p>Adjective Ratio: {{ percentage(essay.objectives[0].adj_count / essay.objectives[0].num_words, 3) }} |  <b>{{ percentage(normals["adj_ratio"], 3) }}</b>  </p>
    <p>Adverb Ratio: {{ percentage(essay.objectives[0].adv_count / essay.objectives[0].num_words, 3) }} |  <b>{{ percentage(normals["adv_ratio"], 3) }}</b>  </p>
    <p>Noun Ratio: {{ percentage(essay.objectives[0].noun_count / essay.objectives[0].num_words, 3) }} |  <b>{{ percentage(normals["noun_ratio"], 3) }}</b> </p>
    <p>Verb Ratio: {{ percentage(essay.objectives[0].verb_count / essay.objectives[0].num_words, 3) }} |  <b>{{ percentage(normals["verb_ratio"], 3) }}</b> </p>
    <p>Linking Verbs: {{ percentage(essay.objectives[0].linking_verbs / essay.objectives[0].num_words, 3) }} |  <b>{{ percentage(normals["linking_verbs"], 3) }}</b> </p>

    
    
  </div>
  <hr>
  {% endif %}
  <h3>Suggestions</h3>
    {% if essay.objectives[0].overused_words.length > 0 %}
      <div class="panel panel-default">
        <div class="panel-heading">Overused Words<span class='pull-right'><span data-toggle="tooltip" title="Overused words make up more than 2% of the words in this essay, not including common words or articles." class='fa fa-question-circle'></span></span></div>
        <div class="panel-body">
          {{ essay.objectives[0].overused_words|striptags|join(', ')|title }}
        </div>
      </div>
    {% endif %}
    {% if suggestions.passive.length > 0 %}
      <div class="panel">
        <div class="panel-heading h-passive">Passive Voice &nbsp;&nbsp;&nbsp; <input type="checkbox" class='switch-check' id="passive-check" checked> <span class='pull-right'><span data-toggle="tooltip" title="The subject of a passively-voiced sentence is actually an object being acted upon." class='fa fa-question-circle'></span></span></div>
        <div class="panel-body">
          <p>There are <strong>{{suggestions.passive.length}}</strong> possible uses of the passive voice in this essay.</p>
        </div>
      </div>
    {% endif %}
    {% if suggestions.weasel.length > 0 %}
      <div class="panel">
        <div class="panel-heading h-weasel">Weasel Words &nbsp;&nbsp;&nbsp; <input type="checkbox" class='switch-check' id="weasel-check" checked> <span class='pull-right'><span data-toggle="tooltip" title="Weasel words are ambiguous words or phrases that give a false impression of specificity." class='fa fa-question-circle'></span></span></div>
        <div class="panel-body">
          <p>There are <strong>{{suggestions.weasel.length}}</strong> possible weasel words in this essay.</p>
        </div>
      </div>
    {% endif %}

    {% if suggestions.illusion.length > 0 %}
      <div class="panel">
        <div class="panel-heading h-illusion">Repeated Words &nbsp;&nbsp;&nbsp; <input type="checkbox" class='switch-check' id="repeated-check" checked> <span class='pull-right'><span data-toggle="tooltip" title="These words may have been repeated unintentionally." class='fa fa-question-circle'></span></span></div>
        <div class="panel-body">
          <p>There are <strong>{{suggestions.illusion.length}}</strong> possible repeated words in this essay.</p>
        </div>
      </div>
    {% endif %}

    {% if suggestions.cliches.length > 0 %}
      <div class="panel">
        <div class="panel-heading h-cliches">Common Cliches &nbsp;&nbsp;&nbsp; <input type="checkbox" class='switch-check' id="cliche-check" checked> <span class='pull-right'><span data-toggle="tooltip" title="Cliches are commonly used phrases or idioms that may harm the readability of your essay." class='fa fa-question-circle'></span></span></div>
        <div class="panel-body">
          <p>There are <strong>{{suggestions.cliches.length}}</strong> possible cliches in this essay.</p>
        </div>
      </div>
    {% endif %}

    {% if suggestions.adverb.length > 0 %}
      <div class="panel">
        <div class="panel-heading h-adverb">Adverbs &nbsp;&nbsp;&nbsp; <input type="checkbox" class='switch-check' id="adverb-check" checked> <span class='pull-right'><span data-toggle="tooltip" title="Certain adverbs, such as 'really' or 'only', can weaken the meaning of a sentence." class='fa fa-question-circle'></span></span></div>
        <div class="panel-body">
          <p>There are <strong>{{suggestions.adverb.length}}</strong> possible uses of adverbs that can weaken meaning.</p>
        </div>
      </div>
    {% endif %}

    {% if suggestions.tooWordy.length > 0 %}
      <div class="panel">
        <div class="panel-heading h-wordy">Wordy Phrasing &nbsp;&nbsp;&nbsp; <input type="checkbox" class='switch-check' id="wordy-check" checked> <span class='pull-right'><span data-toggle="tooltip" title="These words or phrases might be too complex and harm the readability of your essay." class='fa fa-question-circle'></span></span></div>
        <div class="panel-body">
          <p>There are <strong>{{suggestions.tooWordy.length}}</strong> possible words or phrases that can be simplified.</p>
        </div>
      </div>
    {% endif %}

    {% if suggestions.so.length > 0 %}
      <div class="panel">
        <div class="panel-heading h-so">Use of 'So' &nbsp;&nbsp;&nbsp; <input type="checkbox" class='switch-check' id="so-check" checked> <span class='pull-right'><span data-toggle="tooltip" title="Using 'so' at the beginning of a sentence might harm the readability of your essay." class='fa fa-question-circle'></span></span></div>
        <div class="panel-body">
          <p>There are <strong>{{suggestions.so.length}}</strong> instances of 'so' being used at the beginning of a sentence.</p>
        </div>
      </div>
    {% endif %}

    {% if suggestions.thereIs.length > 0 %}
      <div class="panel">
        <div class="panel-heading h-thereIs">Use of 'There Is' &nbsp;&nbsp;&nbsp; <input type="checkbox" class='switch-check' id="there-check" checked> <span class='pull-right'><span data-toggle="tooltip" title="Using 'there is' or 'there are' at the beginning of a sentence might cause unnecessary wordiness." class='fa fa-question-circle'></span></span></div>
        <div class="panel-body">
          <p>There are <strong>{{suggestions.thereIs.length}}</strong> instances of 'there is' or 'there are' being used at the beginning of a sentence.</p>
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script>
window.suggestions = {{suggestions|json|safe}};
window.masterObjective = {{masterObjective|json|safe}};
</script>
<script type="text/javascript" src="/build/js/essay.js"></script>
{% endblock %}