{% extends '../layouts/layout.html' %}
{% block content %}
<div class='row'>
  <div class='col-sm-8'>
  <div class='essay-container'>
    <h1 class='essay-title'>{{essay.title}}</h1>
    <p class='essay-content'>{{essay.content|striptags|replace('\n', '<br>', 'g')|safe}}</p>
    </div>
  </div>
  <div class='col-sm-4'>
  <hr>
    <div class='text-center'>
    <a href='/essays/{{essay.id}}/edit' class='btn btn-default btn-lg'>Edit Essay</a>
    </div>
  <hr>
  <h3>Stats</h3>
  <div>
    {% if essay.objectives.length > 0 && masterObjective != null %}
    <p>Number of Words: {{ essay.objectives[0].num_words }}</p>
    <p>Reading Time: {{ essay.objectives[0].reading_time }}</p>
    <p>Sentence Num: {{ truncateNumber(essay.objectives[0].sentence_num, 3) }}</p>

    <p>Overused Words: {{ essay.objectives[0].overused_words }} ({{ essay.objectives[0].overused_words.length }}) | {{ masterObjective.overused_words_count }} </p>
    <p>Sentence Mean: {{ truncateNumber(essay.objectives[0].sentence_mean, 3) }} | <b>{{ percentage(normals["sentence_mean"], 3) }}</b> </p>

    <p>Sentence Var: {{ truncateNumber(essay.objectives[0].sentence_var, 3) }} |  <b>{{ percentage(normals["sentence_var"], 3) }}</b> </p>

    <p>Etymology Score: {{ percentage(essay.objectives[0].etymology_score, 3)}} |  <b>{{ percentage(normals["etymology_score"], 3) }}</b> </p>

    <p>Adjective Ratio: {{ percentage(essay.objectives[0].adj_count / essay.objectives[0].num_words, 3) }} |  <b>{{ percentage(normals["adj_ratio"], 3) }}</b>  </p>
    <p>Adverb Ratio: {{ percentage(essay.objectives[0].adv_count / essay.objectives[0].num_words, 3) }} |  <b>{{ percentage(normals["adv_ratio"], 3) }}</b>  </p>
    <p>Noun Ratio: {{ percentage(essay.objectives[0].noun_count / essay.objectives[0].num_words, 3) }} |  <b>{{ percentage(normals["noun_ratio"], 3) }}</b> </p>
    <p>Verb Ratio: {{ percentage(essay.objectives[0].verb_count / essay.objectives[0].num_words, 3) }} |  <b>{{ percentage(normals["verb_ratio"], 3) }}</b> </p>
    <p>Linking Verbs: {{ percentage(essay.objectives[0].linking_verbs / essay.objectives[0].num_words, 3) }} |  <b>{{ percentage(normals["linking_verbs"], 3) }}</b> </p>

    <p>Sentiment: {{ percentage(essay.objectives[0].sentiment, 3) }} |  <b>{{ percentage(normals["sentiment"], 3) }}</b> </p>
    {% endif %}
  </div>
  <hr>
  <h3>Suggestions</h3>

  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script>
window.suggestions = {{suggestions|json|safe}};

</script>
{% endblock %}