{% extends '../layouts/layout.html' %}
{% block content %}
<div class="page-header">
  <div class='text-right'>
    <a href='/essays/{{essay.id}}/edit' class='btn btn-default'>Edit Essay</a>
  </div>
</div>
<div class='row'>
  <div class='col-sm-8'>
  <div class='essay-container'>
    <h1 class='essay-title'>{{essay.title}}</h1>
    <p class='essay-content'>{{essay.content|striptags|replace('\n', '<br>', 'g')|safe}}</p>
    </div>
  </div>
  <div class='col-sm-4'>
  <h3>Stats</h3>
  <div>
    <p>Essay Title: {{ essay.title }}</p>

    {% if essay.objectives.length > 0 && masterObjective != null %}
    <p>Number of Words: {{ essay.objectives[0].num_words }}</p>

    <p>Overused Words: {{ essay.objectives[0].overused_words }} ({{ essay.objectives[0].overused_words.length }}) | {{ masterObjective.overused_words_count }} </p>
    <p>Sentence Mean: {{ truncateNumber(essay.objectives[0].sentence_mean, 3) }} | {{ truncateNumber(masterObjective.sentence_mean, 3) }} (Master)  </p>
    <p>Sentence Var: {{ truncateNumber(essay.objectives[0].sentence_var, 3) }} | {{ truncateNumber(masterObjective.sentence_var, 3) }} (Master)  </p>
    <p>Sentence Num: {{ truncateNumber(essay.objectives[0].sentence_num, 3) }} | {{ truncateNumber(masterObjective.sentence_num, 3) }} (Master)  </p>
    <p>Adjective Ratio: {{ percentage(essay.objectives[0].adj_count / essay.objectives[0].num_words, 3) }} | {{ percentage(masterObjective.adj_ratio, 3) }} (Master) </p>
    <p>Adverb Ratio: {{ percentage(essay.objectives[0].adv_count / essay.objectives[0].num_words, 3) }} | {{ percentage(masterObjective.adv_ratio, 3) }} (Master) </p>
    <p>Noun Ratio: {{ percentage(essay.objectives[0].noun_count / essay.objectives[0].num_words, 3) }} | {{ percentage(masterObjective.noun_ratio, 3) }} (Master) </p>
    <p>Verb Ratio: {{ percentage(essay.objectives[0].verb_count / essay.objectives[0].num_words, 3) }} | {{ percentage(masterObjective.verb_ratio, 3) }} (Master) </p>
    {% endif %}

  </div>

  </div>
</div>
{% endblock %}