{% extends '../layouts/layout.html' %}
{% block content %}
<div class="row">

<div class='col-sm-8 col-sm-offset-2 text-center'>
<h1>About</h1>
</div>

<div class='row'>
<div class='col-sm-12 text-center'>

<p class="lead">Lexica Reader is a fast and accurate English essay analyzer that will take your writing to the next level.</br> Trained with a curated database of high-quality essays, Lexica Reader uses human metrics to evaluate the flow of your prose. Some, but not all, of Lexica Reader's features include:</p>

<div class='row'>
<div class='col-sm-4'>
<img src='/img/sound-wave.png'>
<h3 class='light'>Sound and Rhythm</h3>
<p>Lexica Reader analyzes the physical sounds of your essay by focusing on syllabic accents within sentences and physical patterns between sentences.</p>
</div>

<div class='col-sm-4'>
<img src='/img/dictionary.png'>
<h3 class='light'>Emotional Context</h3>
<p>Lexica Reader analyzes how human readers might perceive your essay by focusing on the use of fancy-sounding prestige words and the emotional sentiment of your writing.</p>
</div>

<div class='col-sm-4'>
<img src='/img/editor.png'>
<h3 class='light'>Style Suggestions</h3>
<p>Lexica Reader finds and highlights common stylistic quirks that could potentially weaken your writing, representing them in an easy-to-navigate visual display.</p>
</div>
</div>
<hr>

<p class="lead">We care about your privacy. Lexica Reader does not post anything to your Facebook wall and will never sell your data to third parties. To learn more, check out our <a href="/privacy">privacy policy</a>.</p>

<hr>


</div>

<div class="row">

    <div class='col-sm-5'>
    {# change both the href in the link and the img src to the screenshot #}
    <a class='fluidbox' href="/img/tut2.png">
    <img src="/img/tut2.png" alt="">
    </a>
    </div>

    <div class='col-sm-7'>
    <h3>Submitting an essay</h3>
    <p>Navigate to the <a href="/">front page</a> and paste your essay into the large text box. Including a title is optional but makes it easier to organize your essay. Click on the "Analyze" button and wait for your essay to process.</p>
    </div>

</div>

<hr>

<div class="row">

    <div class='col-sm-5'>
    {# change both the href in the link and the img src to the screenshot #}
    <a class='fluidbox' href="/img/tut4.png">
    <img src="/img/tut4.png" alt="">
    </a>
    </div>

    <div class='col-sm-7'>
    <h3>Viewing an essay</h3>
    <p>After processing, you will be able to view and edit your essay freely. The righthand panel contains information about the measured attributes of your essay, including an overall score. A score closer to 100 percent is more ideal. </p>
    </div>

</div>

<hr>

<div class="row">

    <div class='col-sm-5'>
    {# change both the href in the link and the img src to the screenshot #}
    <a class='fluidbox' href="/img/tut9.png">
    <img src="/img/tut9.png" alt="">
    </a>
    </div>

    <div class='col-sm-7'>
    <h3>Viewing an essay's statistical breakdown</h3>
    <p>Lexica Reader shows you how your particular essay scored on certain heuristics and compares it to an ideal essay using a normal distribution model. A value of 0 percent is generally undesirable and a value of 100 percent is near-ideal.</p>
    </div>

</div>

<hr>

<div class="row">

    <div class='col-sm-5'>
    {# change both the href in the link and the img src to the screenshot #}
    <a class='fluidbox' href="/img/tut5.png">
    <img src="/img/tut5.png" alt="">
    </a>
    </div>

    <div class='col-sm-7'>
    <h3>Managing an essay's suggestions</h3>
    <p>By default, Lexica Reader will highlight parts of your essays in different colors in order to indicate certain stylistic quirks that may or may not harm the quality of your essay. To turn off certain highlighted suggestions, simply click on the toggle buttons.</p>
    </div>

</div>

<hr>

<div class="row">

    <div class='col-sm-5'>
    {# change both the href in the link and the img src to the screenshot #}
    <a class='fluidbox' href="/img/tut10.png">
    <img src="/img/tut10.png" alt="">
    </a>
    </div>

    <div class='col-sm-7'>
    <h3>Logging in and private essay management</h3>
    <p>If you <a href="/auth/facebook">log in with Facebook</a> and grant Lexica Reader permission to read your Facebook username, Lexica Reader will associate your essays with your Facebook account and automatically mark them as private.</p>
    </div>

</div>

<hr>

<div class="row">

    <div class='col-sm-5'>
    {# change both the href in the link and the img src to the screenshot #}
    <a class='fluidbox' href="/img/tut7.png">
    <img src="/img/tut7.png" alt="">
    </a>
    </div>

    <div class='col-sm-7'>
    <h3>Viewing your previously-submitted essays</h3>
    <p>Navigate back to the <a href="/">front page</a> and click on "View previous essays" in order to see your old essays.</p>
    </div>

</div>

<hr>

<div class="row">

    <div class='col-sm-5'>
    {# change both the href in the link and the img src to the screenshot #}
    <a class='fluidbox' href="/img/tut8.png">
    <img src="/img/tut8.png" alt="">
    </a>
    </div>

    <div class='col-sm-7'>
    <h3>Managing your previously-submitted essays</h3>
    <p>Click on your essay titles to view those essays again and see Lexica Reader's analysis. You can also click on the red trashcan icon to delete an essay permanently.</p>
    </div>

</div>

<hr>


<div class='col-sm-12 text-center'>

<p class="lead">Get started by <a href='/'>analyzing an essay</a> or <a href="/auth/facebook">logging in</a> with Facebook!</p>

<a class='btn btn-primary btn-lg' href='/login'>Login</a> <a class='btn btn-success btn-lg' href='/signup'>Sign up</a>
</div>

{% endblock %}