{% extends '../layouts/layout.html' %}
{% block content %}
<div class="row">

<div class='col-sm-8 col-sm-offset-2'>
<h1>About</h1>
<p class="lead">Made for COS 333.</p>
<hr/>
</div>

</div>

<div class="row">

    <div class='col-sm-5'>
    {# change both the href in the link and the img src to the screenshot #}
    <a class='fluidbox' href="/img/logo-full-tall.png">
    <img src="/img/logo-full-tall.png" alt="">
    </a>
    </div>

    <div class='col-sm-7'>
    <h3>Heading</h3>
    <p>Bacon ipsum dolor amet fatback doner ground round beef. Ribeye landjaeger meatball bacon pastrami tongue ham hock alcatra capicola flank brisket salami. Andouille short ribs porchetta cupim sausage landjaeger, ball tip shoulder frankfurter kielbasa turducken. Pancetta porchetta picanha, landjaeger andouille drumstick rump frankfurter venison cow doner turducken. Meatloaf kevin ribeye rump t-bone. Biltong ham hock short loin, tongue pastrami fatback pork jowl cupim pig hamburger boudin ground round.</p>
    </div>

</div>

<hr>

<div class="row">

    <div class='col-sm-5'>
    {# change both the href in the link and the img src to the screenshot #}
    <a class='fluidbox' href="/img/logo-full-tall.png">
    <img src="/img/logo-full-tall.png" alt="">
    </a>
    </div>

    <div class='col-sm-7'>
    <h3>Heading</h3>
    <p>Bacon ipsum dolor amet fatback doner ground round beef. Ribeye landjaeger meatball bacon pastrami tongue ham hock alcatra capicola flank brisket salami. Andouille short ribs porchetta cupim sausage landjaeger, ball tip shoulder frankfurter kielbasa turducken. Pancetta porchetta picanha, landjaeger andouille drumstick rump frankfurter venison cow doner turducken. Meatloaf kevin ribeye rump t-bone. Biltong ham hock short loin, tongue pastrami fatback pork jowl cupim pig hamburger boudin ground round.</p>
    </div>

</div>

<hr>

<div class="row">

    <div class='col-sm-5'>
    {# change both the href in the link and the img src to the screenshot #}
    <a class='fluidbox' href="/img/logo-full-tall.png">
    <img src="/img/logo-full-tall.png" alt="">
    </a>
    </div>

    <div class='col-sm-7'>
    <h3>Heading</h3>
    <p>Bacon ipsum dolor amet fatback doner ground round beef. Ribeye landjaeger meatball bacon pastrami tongue ham hock alcatra capicola flank brisket salami. Andouille short ribs porchetta cupim sausage landjaeger, ball tip shoulder frankfurter kielbasa turducken. Pancetta porchetta picanha, landjaeger andouille drumstick rump frankfurter venison cow doner turducken. Meatloaf kevin ribeye rump t-bone. Biltong ham hock short loin, tongue pastrami fatback pork jowl cupim pig hamburger boudin ground round.</p>
    </div>

</div>

<hr>

<div class="row">

    <div class='col-sm-5'>
    {# change both the href in the link and the img src to the screenshot #}
    <a class='fluidbox' href="/img/logo-full-tall.png">
    <img src="/img/logo-full-tall.png" alt="">
    </a>
    </div>

    <div class='col-sm-7'>
    <h3>Heading</h3>
    <p>Bacon ipsum dolor amet fatback doner ground round beef. Ribeye landjaeger meatball bacon pastrami tongue ham hock alcatra capicola flank brisket salami. Andouille short ribs porchetta cupim sausage landjaeger, ball tip shoulder frankfurter kielbasa turducken. Pancetta porchetta picanha, landjaeger andouille drumstick rump frankfurter venison cow doner turducken. Meatloaf kevin ribeye rump t-bone. Biltong ham hock short loin, tongue pastrami fatback pork jowl cupim pig hamburger boudin ground round.</p>
    </div>

</div>

<hr>

<div class="row">

    <div class='col-sm-5'>
    {# change both the href in the link and the img src to the screenshot #}
    <a class='fluidbox' href="/img/logo-full-tall.png">
    <img src="/img/logo-full-tall.png" alt="">
    </a>
    </div>

    <div class='col-sm-7'>
    <h3>Heading</h3>
    <p>Bacon ipsum dolor amet fatback doner ground round beef. Ribeye landjaeger meatball bacon pastrami tongue ham hock alcatra capicola flank brisket salami. Andouille short ribs porchetta cupim sausage landjaeger, ball tip shoulder frankfurter kielbasa turducken. Pancetta porchetta picanha, landjaeger andouille drumstick rump frankfurter venison cow doner turducken. Meatloaf kevin ribeye rump t-bone. Biltong ham hock short loin, tongue pastrami fatback pork jowl cupim pig hamburger boudin ground round.</p>
    </div>

</div>

<hr>

<div class="row">

    <div class='col-sm-5'>
    {# change both the href in the link and the img src to the screenshot #}
    <a class='fluidbox' href="/img/logo-full-tall.png">
    <img src="/img/logo-full-tall.png" alt="">
    </a>
    </div>

    <div class='col-sm-7'>
    <h3>Heading</h3>
    <p>Bacon ipsum dolor amet fatback doner ground round beef. Ribeye landjaeger meatball bacon pastrami tongue ham hock alcatra capicola flank brisket salami. Andouille short ribs porchetta cupim sausage landjaeger, ball tip shoulder frankfurter kielbasa turducken. Pancetta porchetta picanha, landjaeger andouille drumstick rump frankfurter venison cow doner turducken. Meatloaf kevin ribeye rump t-bone. Biltong ham hock short loin, tongue pastrami fatback pork jowl cupim pig hamburger boudin ground round.</p>
    </div>

</div>

{% endblock %}