{% extends '../layouts/layout.html' %}
{% block content %}
<div class="row">

<div class='col-sm-8 col-sm-offset-2'>
<h1>Privacy Policy</h1>
<p class="lead"></p>

<p>This privacy policy sets out how Lexica Reader uses and protects any information that you give Lexica Reader when you use this website.
Lexica Reader is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.
Lexica Reader may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from 5/5/2015.</p>

<p> We may collect the following information: name; contact information including Facebook username; and content of submitted, saved, and edited essays.</p>

<p>We require this information to understand your needs and provide you with a better service, and in particular for associating originally produced essays with their authors. Signing in on Facebook associates your submitted essays to your username and allows you to access, edit, and delete your personal essays at any time when signed in. Essays that are associated to a Facebook account cannot be viewed on a browser session unless the viewer is signed in to the same Facebook account. Essays that are not associated to Facebook accounts are unlisted by default but can be viewed by anyone with access to the unique essay url. </p>

<p>Lexica Reader does not post any of your information on Facebook. We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We reserve the right to remove any content, especially but not limited to offensive or illegal material. </p>

<hr/>


{% endblock %}